
<%# Fichier html dans lequel je peux ajouter du RUby %>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">

    <title>The Gossip Project</title>
  </head>
  <body>
    <nav class="navbar">
    <ul>
    <li><a href='/'>Accueil</a></li>
    <li><a href='/gossips/new/'>Ajouter un potin</a></li>
    </ul>
    </nav>
    <hr/>
    <section>
    <p>
    <h1>Liste des gossips</h1>
    <% gossips.each do |gossip| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
      </p>
      <% end %>
      </p>
      </section >
  </body>
</html>
