html 
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a, a:hover, a:visited
{
    color: #DCDCDC;

    text-decoration-line: none;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px black;
    margin: 20px;
    padding: 50px;
    height: min-content;
}
section
{
    border: thick double;
    padding: 10;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.navbar > ul
{
    min-width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    margin-left: 5;
    margin-right: 5;
}

.center_li
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 5;
}